// Global
.field_note {
    margin:4px 0 15px 0;
    font-size:.9rem;
    line-height: 1.2rem;
    padding-left:6px;
    font-weight:300;
    border-left:3px solid #eee;

    a {
        color:#0094bb;
        text-decoration:underline;
    }

    .box-reset-password & {
        margin-left:0;
    }
}

.form-control[readonly] {
    background-color: #e9ecef;
}

optgroup {
    padding:1em;
    border:dotted #999;
    border-width:1px 0 0 0;
}

input[type="number"].number_small {
    width: 80px;
}

.checkbox_options {
    width:auto !important;
}

.options_divide {
    clear:both;
    overflow:hidden;
    margin:25px 0;
}

.options_column {
    overflow:hidden;
}

textarea.textarea_medium {
    min-height:150px;
}

textarea.textarea_high {
    min-height:200px;
}

    .options_col_left {
        width:47%;
        float:left;
    }

    .options_col_right {
        width:47%;
        float:right;
    }

.preview_button {
    margin-top:25px;
    text-align:center;

    button {
        margin-bottom:10px;
    }
}

.select_control_buttons {
    margin:10px 0 30px;
    padding:0;

    a {
        margin-right:5px;

        &:last-child {
            margin-right:0;
        }
    }
}

// JSON textarea

.json-textarea {
    width: 100%;
    height: 300px;
    background-color: #2b2b2b; /* Dark background */
    color: #f8f8f2; /* Text color */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    padding: 15px;
    border: 1px solid #444;
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow: auto;
    white-space: pre;
    line-height: 1.5;
  }

  .json-textarea::-webkit-scrollbar {
    width: 8px;
  }

  .json-textarea::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 8px;
  }

  .json-textarea::-webkit-scrollbar-track {
    background-color: #333;
  }

  .json-textarea[data-highlight="true"] {
    background-color: #1e1e1e;
    color: #c5c8c6;
  }

  .json-textarea::selection {
    background-color: #b3d4fc; /* Custom highlight color */
  }

  .json-textarea pre {
    white-space: pre-wrap; /* Ensure text wraps properly */
  }